/*
    The style changes in this file will affected only the messages for the shopping cart page.
    If you have created your own style for you messages, please remove this comment the styles below or simple remove this file.
    
    Warnings, errors and success messages.
*/

#shoppingcartBody [class*="messageStack"] {
    color: #fff;
    padding: 10px 15px 9px;
    margin-bottom: 15px;
}
    
    #shoppingcartBody .messageStackWarning,
    #shoppingcartBody .messageStackError {
        background-color: rgb(199, 20, 20);
    }

    #shoppingcartBody .messageStackSuccess {
        background-color: rgb(30, 134, 20);
    }

    #shoppingcartBody .messageStackCaution {
        background-color: rgb(243, 101, 46);
    }

        #shoppingcartBody [class*="messageStack"] br,
        #shoppingcartBody [class*="messageStack"] img {
            display: none;
        }
        
        #shoppingcartBody [class*="messageStack"] br + a {
            margin-left: 3px;
            margin-right: 3px;
        }

        #shoppingcartBody [class*="messageStack"] a + br + a {
            margin-left: 3px;
            display: inline-block;
            padding-left: 6px;
            margin-right: 4px;
            border-left: 1px solid #fff;
        }

        #shoppingcartBody [class*="messageStack"] a:link,
        #shoppingcartBody [class*="messageStack"] a:visited {
            color: #fff;
            font-size: 14px
        }

        